@page
@model WebApplication1.Pages.phieudatve.IndexModel
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhieuDatVe[0].NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuDatVe[0].ChuyenBay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuDatVe[0].KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuDatVe[0].LoTrinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PhieuDatVe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuyenBay.ChuyenBayId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.KhachHangId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoTrinh.LoTrinhId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PhieuDatVeId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PhieuDatVeId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PhieuDatVeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
