@page
@model WebApplication1.Pages.vemaybay.IndexModel
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VeMayBay[0].SoGhe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeMayBay[0].KhoangGhe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeMayBay[0].GiaVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeMayBay[0].ChuyenBay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeMayBay[0].PhieuDatVe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VeMayBay)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGhe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhoangGhe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaVe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuyenBay.ChuyenBayId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhieuDatVe.PhieuDatVeId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.VeMayBayId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.VeMayBayId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.VeMayBayId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
